{% extends 'admintm\admin-nav.html' %}
{% block body %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">


        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">List</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Manage</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Add</button>
              </li>
            </ul>

            <!-- Tab panes -->




            <!-- Tab panes -->
            <div class="tab-content">
              <div id="home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab"><br>
                <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>S.No </th>
                      <th>Email</th>
                      <th>type</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in user_list %}
                    <tr>
                      <td>{{item.id}}</td>
                      <td>{{item.username}}</td>
                      <td>admin</td>

                      {% comment %} <td>Null</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </table>
              </div>
              <div id="profile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab"><br>
                <table id="example1" class="table table-bordered table-striped display">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Type</th>
                      <th>Edit</th>
                      <th>Delete</th>

                      {% comment %} <th>Number</th> {% endcomment %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in user_list %}
                    <tr>
                      <td>{{item.id}}</td>
                      <td>{{item.username}}</td>
                      <td>admin</td>
                      <td><a href=""><i class="fas fa-edit"></i></a></td>
                      <td><a href=""><i class="fas fa-trash-alt"></i></a></td>


                      {% comment %} <td>Null</td> {% endcomment %}
                    </tr>
                    {% endfor %}



                  </tbody>
                </table>
              </div>

              <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!-- <input type="hidden"> -->
                  {{form.media|safe}}
                  {{form.as_table|safe}}
                  <button type="submit">submit</button>
                </form>
              </div>


            </div>

            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock %}