<style>
    .card-header {
      display: flex;
  
    }
  
    .modal-body {
      background-color: #ffff;
  
    }
  
  
    .add_headline {
  
      justify-self: start !important;
      width: 100%;
    }
  
    .add_btn {
      float: end !important;
      /* justify-self: end;  */
    }
  
    .td_btn {
      display: flex;
    }
  
    .errorlist {
      display: none;
    }
  </style>
  {% extends 'admintm\admin-nav.html' %}
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  
  {% block body %}
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="form" value="ADD">
            {{ form.media|safe}}
            {{ form.as_p|safe}}
          </form> -->
          <div class="card">
            <div class="card-header text-primary" style="border-bottom: 1px solid gainsboro;">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">List</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Manage</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Add</button>
                </li>
              </ul>
            </div>
            <!-- tab pane -->
            <dvv class="card-body">
              <div class="tab-content p-1">
                <div id="home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                  <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Subject</th>
                            <th>Paid By</th>
                            <th>Paid On</th>
                            <!-- <th>Delete</th> -->
                            <th colspan="">EDIT</th>
      
                            <th>Delete</th>
                          </tr>
                    </thead>
                    <tbody>
                      {% for item in courses_list %}
                      <tr>
                        <td>{{item.id}}</td>
                      <td>{{item.Course_name}}</td>
                      <td>{{item.Details|safe}}</td>
                      <td>{{item.Price}}</td>

                      <td><a href="{% url 'Student:edit-course2' item.id  %}" class="btn btn-warning"><i
                            class="fa fa-edit"></i></a>
                      </td>

                      <td><a class="btn btn-danger" href="{% url 'Student:delete_course' item.id %}"><i
                            class="fa fa-trash"></i></a>
                      </td>



                    </tr>
                      {% endfor %}
  
  
  
                    </tbody>
                  </table>
                </div>
  
                <div id="profile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Subject</th>
                        <th>Paid By</th>
                        <th>Paid On</th>
                        <!-- <th>Delete</th> -->
                        <th colspan="">EDIT</th>
  
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in courses_list %}
                      <tr>
                          <td>{{item.id}}</td>
                        <td>{{item.Course_name}}</td>
                        <td>{{item.Details|safe}}</td>
                        <td>{{item.Price}}</td>
  
                        <td><a href="{% url 'Student:edit-course2' item.id  %}" class="btn btn-warning"><i
                              class="fa fa-edit"></i></a>
                        </td>
  
                        <td><a class="btn btn-danger" href="{% url 'Student:delete_course' item.id %}"><i
                              class="fa fa-trash"></i></a>
                        </td>
  
  
  
                      </tr>
                      {% endfor %}
  
  
  
                    </tbody>
  
                  </table>
  
                </div>
  
  
                <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
                  <form enctype="multipart/form-data" method="post">
                    <input type="hidden" name="form_name" value="ADD">
                    {% csrf_token %}
                    {{ form.media|safe}}
                    {{ form.as_table|safe}}
                    <button type="submit" class="btn btn-danger">submit</button>
                  </form>
                </div>
  
  
              </div>
  
  
  
  
              <!-- /.card-header -->
              <!-- <div class="card-body"> -->
  
              <!-- </div> -->
              <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  
  
  
  </section>
  {% endblock %}
    
  